:root {
	--gray0: #f8f8f8;
	--gray1: #dbe1e8;
	--gray2: #b2becd;
	--gray3: #6c7983;
	--gray4: #454e56;
	--gray5: #2a2e35;
	--gray6: #12181b;
	--bg-header-light: #f0f0f0;
	--text-hover-light: var(--gray6);
	--text-hover-dark: var(--gray6);
	--bg-hover-light: #f0f0f0;
	--bg-hover-dark: var(--gray1);
}

.light {
	--text-date-picker: var(--gray6);
	--bg-date-picker-header: var(--bg-header-light);
	--bg-date-picker-body: var(--gray0);
	--text-hover: var(--text-hover-light);
	--bg-hover: var(--bg-hover-light);
}

.dark {
	--text-date-picker: var(--gray0);
	--bg-date-picker-header: var(--gray6);
	--bg-date-picker-body: var(--gray5);
	--text-hover: var(--text-hover-dark);
	--bg-hover: var(--bg-hover-dark);
}

.react-datepicker, 
.react-datepicker__time-list {
	color: var(--text-date-picker);
	background: var(--bg-date-picker-body);
}

.react-datepicker__input-container input {
	display: block;
    margin: 0;
    width: 100%;
	border: 0;
	border-bottom: 1px solid var(--text-body);
	color: var(--text-body);
	height: 1.1876em;
    padding: 6px 3px 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    -webkit-tap-highlight-color: transparent;
}

.react-datepicker__month, 
.react-datepicker__day, 
.react-datepicker__current-month, 
.react-datepicker__day-name, 
.react-datepicker__day, 
.react-datepicker__time-name, 
.react-datepicker-time__header {
	color: var(--text-date-picker);
}

.react-datepicker__day--disabled, 
.react-datepicker__month-text--disabled, 
.react-datepicker__quarter-text--disabled {
	color: #ccc;
}

.react-datepicker-popper {
	max-width: 350px;
}

.react-datepicker__header {
	background: var(--bg-date-picker-header);
} 

.react-datepicker__day:hover, 
.react-datepicker__day-name:hover, 
.react-datepicker__day:hover, 
.react-datepicker__time-name:hover, 
.react-datepicker__time-list-item:hover {
	color: var(--text-hover);
	background: var(--bg-hover);
}