@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* Themes */

.light {
    --bg-header-footer: #df744a;
    --bg-body: #f8f8ff;
    --text-head: #ffffff;
    --text-body: #333333;
    --text-body-invert: #fefefe;
    --bg-card: #60bbd4;
    --bg-form: #e5faa5;
    --form-btn: #60bbd4;
    --del-btn: #fa7c92;
    --del-btn-hover: #ff5349;
    --com-btn: #66ab8c;
    --com-btn-hover: #195905;
    --bg-howto: #fabbbb;
    --bg-list: #fff7c0;
    --bg-expired: #fa7c92;
    --bg-done: #66ab8c;
    --bg-full-name: #df744a;
    --full-name-body: #ffffff;
    --icon-expired: #fa7c92;
    --icon-done: #66ab8c;
}

.dark {
    --bg-header-footer: #6c7983;
    --bg-body: #2a2e35;
    --text-head: #ffffff;
    --text-body: #ffffff;
    --text-body-invert: #f5f5f5;
    --bg-card: #684da5;
    --bg-form: #383838;
    --form-btn: #8e873b;
    --del-btn: #cf6679;
    --del-btn-hover: #ff5349;
    --com-btn: #66ab8c;
    --com-btn-hover: #195905;
    --bg-howto: #805555;
    --bg-list: #12181b;
    --bg-expired: #cf6679;
    --bg-done: #183b1d;
    --bg-full-name: #2a2e35;
    --full-name-body: #ffffff;
    --icon-expired: #cf6679;
    --icon-done: #66ab8c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: var(--text-body);
    background: var(--bg-body);
    height: 100%;
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

#root {
    height: 100%;
}

.hidden {
    display: none;
}

/* App */

.app-container {
    display: grid;
    align-content: space-between;
    min-height: 100vh;
    color: var(--text-body);
    background: var(--bg-body);
}

/* section global styles */
.section__heading {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    column-gap: 10px;
}

.section__icon-container {
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.section__icon {
    font-size: 40px;
    line-height: 1;
    color: var(--text-body);
}

.section__title {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-body);
}

.section__toggle {
    width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}

.section__btn {
    font-size: 40px;
    line-height: 1;
    color: var(--text-body);
}

.section__btn:hover {
    color: rgba(0, 0, 0, 0.5);
}
