@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* Themes */

:root {
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #12181b;
    --lightblue: lightblue;
    --lightgreen: rgb(132, 223, 132);
    --darkgreen: rgb(18, 90, 18);
    --bg-header-footer-color: #a1b4c5;
    --divide-line: #e0dede;
    --bg-quotes-light: #f1f1f1f1;
    --bg-quotes-dark: #3e4449;
    --btn-red-light: #ff0000;
    --btn-green-light: #1dca1d;
    --btn-red-dark: #8d1b1bd2;
    --btn-green-dark: #1f7a2e;
    --bg-form-btn-dark: rgba(0, 0, 0, 0.8);
    --bg-form-btn-light: rgba(0, 0, 0, 0.3);
    --bg-list-light: #e0dede;
    --bg-list-dark: var(--gray6);
    --bg-expired-light: #ff9999;
    --bg-expired-dark: #421818;
    --bg-done-light: #9df8a9;
    --bg-done-dark: #183b1d;
    --icon-expired-dark: #ff9999;
    --icon-expired-light: #881919;
    --icon-done-dark: #9df8a9;
    --icon-done-light: #174d1f;
}

.light {
    --bg-header-footer: var(--bg-header-footer-color);
    --bg-body: var(--gray0);
    --bg-topbar: var(--lightblue);
    --text-head: var(--gray0);
    --text-body: var(--gray6);
    --text-slideshow: var(--gray6);
    --app: var(--lightgreen);
    --border: var(--divide-line);
    --bg-card: var(--gray0);
    --bg-form: var(--gray2);
    --del-btn: var(--btn-red-light);
    --com-btn: var(--btn-green-light);
    --bg-hover-form-btn: var(--bg-form-btn-light);
    --bg-list: var(--bg-list-light);
    --bg-expired: var(--bg-expired-light);
    --bg-done: var(--bg-done-light);
    --bg-full-name: var(--gray0);
    --full-name-body: var(--gray6);
    --icon-expired: var(--icon-expired-light);
    --icon-done: var(--icon-done-light);
}

.dark {
    --bg-header-footer: var(--gray3);
    --bg-body: var(--gray5);
    --bg-topbar: var(--gray4);
    --text-head: var(--gray0);
    --text-body: var(--gray0);
    --text-slideshow: var(--gray0);
    --app: var(--darkgreen);
    --border: var(--divide-line);
    --bg-card: var(--gray3);
    --bg-form: var(--gray4);
    --del-btn: var(--btn-red-dark);
    --com-btn: var(--btn-green-dark);
    --bg-hover-form-btn: var(--bg-form-btn-dark);
    --bg-list: var(--bg-list-dark);
    --bg-expired: var(--bg-expired-dark);
    --bg-done: var(--bg-done-dark);
    --bg-full-name: var(--gray4);
    --full-name-body: var(--gray0);
    --icon-expired: var(--icon-expired-dark);
    --icon-done: var(--icon-done-dark);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    color: var(--text-body);
    background: var(--bg-body);
    height: 100%;
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

#root {
    height: 100%;
}

.hidden {
    display: none;
}

/* App */

.app-container {
    display: grid;
    align-content: space-between;
    min-height: 100vh;
    color: var(--text-body);
    background: var(--bg-body);
}

/* section global styles */
.section__heading {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    column-gap: 10px;
}

.section__icon-container {
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.section__icon {
    font-size: 40px;
    line-height: 1;
    color: var(--text-body);
}

.section__title {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-body);
}

.section__toggle {
    width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}

.section__btn {
    font-size: 40px;
    line-height: 1;
    color: var(--text-body);
}

.section__btn:hover {
    color: rgba(0, 0, 0, 0.5);
}

/* Footer */

.footer-container {
    align-self: end;
    padding: 15px 15px 5px 15px;
    color: var(--text-body);
    background: var(--bg-header-footer);
    text-align: center;
}

.footer-heading {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.social-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social-item {
    padding: 16px;
    font-size: 50px;
}

.link-item {
    color: var(--text-body);
}

.copyright {
    font-size: 12px;
    text-align: center;
}



/* Hover */



.card-delete-btn:hover,
.card-complete-btn:hover,
.li-link:hover,
.li-item:hover,
.link-item:hover {
    color: rgba(0, 0, 0, 0.5);
}

/* Media Queries */

@media(max-width: 767px) {
    .container {
        margin: 16px 8px 0 16px;
    }

    .card-name {
        max-width: 180px;
    }
}
